@model TicketManagementSystem.Core.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera</h1>


@if (@ViewBag.formhide == "Show")
{
    <h3>Är du säker på att du vill ta bort den här användaren?</h3>
}
else if (@ViewBag.formhide == "Hide")
{

    @if (@ViewBag.PageName == "Developer")
    {

        <p id="deletemsg"><b>Den här användaren kan inte raderas. Det finns några relaterade projekt till denna utvecklare.</b></p>
        <h3>Vill du fortfarande göra användaren inaktiv??</h3>
    }
    else
    {

        <p id="deletemsg"><b>Den här användaren kan inte raderas. Det finns relaterade ärende för den här användare.</b></p>
        <h3>Vill du fortfarande göra användaren inaktiv??</h3>

    }


}
else if (@ViewBag.formhide == "Admin")
{

    <p id="deletemsg"><b>Administratörsanvändaren kan inte raderas.</b></p>

}


<div>
    @*<h4>Användare</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyAbbr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    @if (@ViewBag.formhide == "Show")
    {
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" asp-route-name=@ViewData["PageName"] />
            <input type="submit" value="Radera" class="btn btn-danger" /> |
            <a asp-action="Index" asp-route-name=@ViewData["PageName"]>Tillbaka till listan</a>
        </form>
    }
    else
    {

<a asp-controller="ApplicationUsers" asp-action="InActive" asp-route-id="@Model.Id" asp-route-name=@ViewData["PageName"]> <button class="btn btn-danger">Inaktiv</button></a>  
        <a asp-action="Index" asp-route-name=@ViewData["PageName"]>Tillbaka till listan</a>

    }
    </div>


