@model IEnumerable<TicketManagementSystem.Core.Models.Comment>
@inject UserManager<ApplicationUser> userManager


<table class="table">
    <tbody>
        @foreach (var item in Model.OrderByDescending(i => i.Id))
        {
            <tr class="row"> 
                <td class="col-sm-2 font-weight-lighter small border active ml-1">
                    @*@if (User.IsInRole("Admin") || User.IsInRole("Developer"))
                        @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                     else if (User.IsInRole("Customer"))
                     {*@
                         @if (await userManager.IsInRoleAsync(item.ApplicationUser, "Customer"))
                             @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                          else
                             @Html.Label("Bitoreq Support")
                     @*}*@
                    <br />
                    @Html.DisplayFor(modelItem => item.CommentTime)
                </td>

                <td class="col-sm-8 border active">
                    @Html.DisplayFor(modelItem => item.CommentText)
                </td>
            </tr>
        }
    </tbody>
</table>
