@model TicketManagementSystem.Core.ViewModels.TicketDetailsViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

@{
    ViewData["Title"] = "Edit";
    int i = 0;
}

<h3>Redigera biljett</h3>
<hr />
<div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" id="editform" enctype="multipart/form-data" method="post">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <input type="hidden" asp-for="Ticket.Id" />
                <input type="hidden" asp-for="Ticket.CreatedBy" />
                <input type="hidden" asp-for="Ticket.AssignedTo" />
                <input type="hidden" asp-for="Ticket.CreatedDate" />
                <div class="form-group">
                    @*<label asp-for="RefNo" class="control-label"></label>*@
                    <input type="hidden" asp-for="Ticket.RefNo" class="form-control" />
                    <span asp-validation-for="Ticket.RefNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ticket.Title" class="control-label"></label>
                    <input asp-for="Ticket.Title" class="form-control" />
                    <span asp-validation-for="Ticket.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ticket.Project" class="control-label"></label>
                    <select asp-for="Ticket.ProjectId" class="form-control" asp-items="ViewBag.ProjectId">
                        @*(IEnumerable<SelectListItem>)loggedInUserProjects*@
                        <option value="">Välj projekt</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Ticket.CustomerPriority" class="control-label">Prioritet</label>
                    <select asp-for="Ticket.CustomerPriority" asp-items="Html.GetEnumSelectList<Priority>()" class="form-control">
                        <option value="">Välj prioritet</option>
                    </select>
                    <span asp-validation-for="Ticket.CustomerPriority" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ticket.Problem" class="control-label"></label>
                    <textarea asp-for="Ticket.Problem" rows="8" class="form-control" id="problem"></textarea>
                    <span asp-validation-for="Ticket.Problem" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AssignedTo" class="control-label"></label>
            <select asp-for="AssignedTo" class="form-control" asp-items="ViewBag.AssignedTo"></select>
            <span asp-validation-for="AssignedTo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HoursSpent" class="control-label"></label>
            <input asp-for="HoursSpent" class="form-control" />
            <span asp-validation-for="HoursSpent" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProjectId" class="control-label"></label>
            <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
            <span asp-validation-for="ProjectId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CustomerPriority" class="control-label"></label>
            <input asp-for="CustomerPriority" class="form-control" />
            <span asp-validation-for="CustomerPriority" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RealPriority" class="control-label"></label>
            <input asp-for="RealPriority" class="form-control" />
            <span asp-validation-for="RealPriority" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DueDate" class="control-label"></label>
            <input asp-for="DueDate" class="form-control" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClosedDate" class="control-label"></label>
            <input asp-for="ClosedDate" class="form-control" />
            <span asp-validation-for="ClosedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastUpdated" class="control-label"></label>
            <input asp-for="LastUpdated" class="form-control" />
            <span asp-validation-for="LastUpdated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ResponseType" class="control-label"></label>
            <input asp-for="ResponseType" class="form-control" />
            <span asp-validation-for="ResponseType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ResponseDesc" class="control-label"></label>
            <input asp-for="ResponseDesc" class="form-control" />
            <span asp-validation-for="ResponseDesc" class="text-danger"></span>
        </div>*@
                @*<div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>*@
                @if (Model.Documents != null)
                {

                    @foreach (var item in Model.Documents)
                    {
                        <dl class="row">
                            @if (i == 0)
                            {
                                <dt class="col-sm-3">
                                    @*@Html.DisplayNameFor(model => model.Documents)*@
                                    <label asp-for="Documents"></label>
                                </dt>
                            }
                            else
                            {
                                <dt class="col-sm-3">
                                </dt>
                            }

                            <dd class="col-sm-3">
                                <span class="form-check-inline">
                                    &nbsp;
                                    <a id="file_@i" asp-controller="Documents" asp-action="Download" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a> &nbsp;
                                    <a asp-controller="Documents" asp-action="RemoveFile" asp-route-id="@item.Id" onclick="deleteit(i);"><i class="fa fa-remove" style="font-size:24px;color:red"></i></a>
                                </span>

                            </dd>


                        </dl>

                        i++;
                    }


                }

                @for (int j = 0; j < (3 - Model.Documents.Count); j++)
                {
                    <div class="form-group row">

                        <div class="col-md-3 col-form-label">
                            @Html.Label("Bifoga Fil" + (j + 1).ToString())
                        </div>
                        @*<label asp-for="File" class="col-md-2 col-form-label"></label>*@
                        <div class="col-md-9">
                            <div class="custom-file">
                                <input asp-for="File" class="form-control custom-file-input" id="file" lang="se">
                                <label class="custom-file-label" data-label="Bläddra">Välj FIL...</label>
                            </div>
                        </div>
                    </div>

                }

                <div class="form-group" align="center">
                    <input name="submit" type="submit" id="submit" value="Spara som Utkast" class="btn btn-primary" />
                    <input name="submit" type="submit" id="submit" value="Skicka in" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Delete" asp-route-id="@Model.Ticket.Id">Radera</a> |
        <a asp-action="Index">Tillbaka till Mina Ärende listan</a> |
        <a asp-action="IndexCompanyTickets">Tillbaka till Kunder Ärende listan</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

