@model IEnumerable<TicketIndexViewModel>
@*@model TicketManagementSystem.Core.ViewModels.TicketIndexViewModel*@

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        @if (User.IsInRole("Admin"))
        {
            <a class="navbar-brand" asp-area="" asp-controller="Tickets" asp-action="Index"><h1>Alla Ärenden</h1></a>
        }
        else
        {
            <a class="navbar-brand" asp-area="" asp-controller="Tickets" asp-action="Index"><h1>Mina Ärenden</h1></a>

        }
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @if (User.IsInRole("Admin"))
        {
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @*<partial name="_LoginPartial" />*@
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">&nbsp;Kunder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">&nbsp;Lösning</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ApplicationUsers" asp-action="Index" asp-route-name="Customer">Kundrepresentant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ApplicationUsers" asp-action="Index" asp-route-name="Developer">Administratörer / Utvecklare</a>
                    </li>

                </ul>
            </div>
        }
        @if (User.IsInRole("Customer"))
        {

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @*<partial name="_LoginPartial" />*@
                <ul class="navbar-nav flex-grow-1">

                    <a class="navbar-brand" asp-area="" asp-controller="Tickets" asp-action="IndexCompanyTickets">Kunder Ärenden</a>

                </ul>
            </div>
        }
</nav>
<form asp-action="Filter">
    <div class="input-group mb-3">
        <input type="text" name="title" class="form-control" placeholder="Sök på Titel" style="width: 150px;" />
        <div class="input-group-append">
            @if (User.IsInRole("Admin") || User.IsInRole("Developer"))
            {
                <select name="statusSearch" asp-items="@(Html.GetEnumSelectList<Status>().Where(x => x.Text != "Utkast"))" class="form-control">
                    <option selected="selected" value="">Status</option>
                </select>
                <select name="customerPriority" asp-items="@Html.GetEnumSelectList<Priority>()" class="form-control">
                    <option selected="selected" value="">Prioritet</option>
                </select>
                <select name="adminPriority" asp-items="@Html.GetEnumSelectList<Priority>()" class="form-control">
                    <option selected="selected" value="">BitoreqPrioritet</option>
                </select>
                <select name="priorities" class="form-control">
                    <option selected="selected" value="">PriorMatch</option>
                    <option value="1">Match</option>
                    <option value="2">Ingen Match</option>
                </select>

                <select name="companySearch" class="form-control" asp-items="ViewBag.Companies">
                    <option value="">Kund</option>
                </select>
            }

            else
            {
                <select name="statusSearch" asp-items="@(Html.GetEnumSelectList<Status>())" class="form-control">
                    <option selected="selected" value="">Status</option>
                </select>

                <select name="adminPriority" asp-items="@Html.GetEnumSelectList<Priority>()" class="form-control">
                    <option selected="selected" value="">Prioritet</option>
                </select>
               
            }

            <select name="projectSearch" asp-items="ViewBag.ProjectId" class="form-control">
                <option value="">Lösning</option>
            </select>

        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary "><i class="fa fa-search">&emsp;&emsp;Sök&emsp;&emsp;</i></button>
        </div>
    </div>
</form>

<partial name="TicketListPartial" />