@model TicketManagementSystem.Core.Models.Project

@{
    ViewData["Title"] = "Details";
}

    <h1>Detaljer</h1>

<div>
    <h4>Lösning</h4>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SystemsUsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SystemsUsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyAbbr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyAbbr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Developer1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Developer1User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Developer2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Developer2User.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Redigera</a> |
    <a asp-action="Index">Tillbaka till listan</a>
</div>
